APScheduler==3.10.4
asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
Django==5.0.9
django-cors-headers==4.5.0
djangorestframework==3.15.2
gunicorn==23.0.0
h11==0.14.0
mssql-django==1.5
packaging==24.2
psycopg2-binary==2.9.10
PyJWT==2.9.0
pyodbc==5.1.0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uvicorn==0.32.1
whitenoise==6.8.2
